@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1d95ff;
}

html,
body {
  background: #000;
  color: #fff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  cursor: none;
}

a,
button {
  color: inherit;
  user-select: none;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

.Typewriter__wrapper {
  color: var(--primary);
}

.Typewriter__cursor {
  display: none;
}

img.next-image {
  margin: 0;
  width: 100%;
}

::selection {
  background: var(--primary);
}

.afterline::after {
  content: " —";
}

.cursor {
  position: fixed;
  top: 50%;
  left: 50%;
  border: 1px solid #ffffff44;
  border-radius: 9999px;
  padding: 10px;
  padding-top: 15px;
  padding-left: 15px;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
  animation: pointer 1s infinite;
}

@keyframes pointer {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

.scroll-icon {
  animation: scrollIcon 1s infinite;
  cursor: pointer;
}

@keyframes scrollIcon {
  0% {
    transform: rotate(180deg) scale(2) translateY(-10px);
    opacity: 0.3;
  }

  50% {
    transform: rotate(180deg) scale(2) translateY(0);
    opacity: 1;
  }

  100% {
    transform: rotate(180deg) scale(2) translateY(-10px);
    opacity: 0.3;
  }
}

.button:hover .buttonArrowIcon {
  fill: #fff;
}
